.footer {
  background-color: #1f1f1f;
  color: #fff;
  padding: 50px 20px 20px;
  font-family: 'Arial', sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.footer-brand {
  flex: 1;
  min-width: 200px;
}
.footer-brand img{
  width: 150px;
}
.footer-brand h2{
  color: orange;
}

.footer-logo {
  width: 60px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.footer-links {
  flex: 1;
  min-width: 200px;
}
.footer-links h3{
  color: orange;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin: 8px 0;
}

.footer-links ul li a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.footer-links ul li a:hover {
  color: orange;
}

.footer-newsletter {
  /* flex: 1; */
  min-width: 250px;
  /* gap: 30px;
  line-height: 20px; */
}
.footer-newsletter h3{
  color: orange;
}

.footer-newsletter input {
  padding: 10px;
  margin: 10px 0px 15px 0px;
  border-radius: 5px 0 0 5px;
  border: none;
  width: 70%;
 
  outline: none;
}

.footer-newsletter button {
  padding: 10px 15px;
  border: none;
  background-color: orange;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: 0.3s;
}

.footer-newsletter button:hover {
  background-color: #ff9900;
}

.footer-social {
  flex: 1;
  min-width: 200px;
  gap: 10px;
  line-height: 27px;
}
.footer-social h3{
  margin: 0px 40px 0px 0px;
  color: orange;
}

.social-icons a {
  margin-right: 15px;
  font-size: 1.2rem;
  color: #fff;
  transition: 0.3s;
}
.footer-social p{
    color: white;
    font-size: 16px;
}

.social-icons a:hover {
  color: orange;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid #333;
  padding-top: 15px;
  font-size: 0.9rem;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    gap: 25px;
  }

  .footer-newsletter input {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
  }

  .footer-newsletter button {
    width: 100%;
    border-radius: 5px;
  }
}
/* Sections */
.about-section1 {
  margin-bottom: 40px;
}

.about-section1 h2 {
  font-size: 1.8rem;
  color: #ff6600;
  margin-bottom: 15px;
}

.about-section1 p {
  font-size: 1.1rem;
  line-height: 1.7;
}

.about-section1 ul {
  list-style: disc inside;
  font-size: 1.1rem;
  line-height: 1.8;
  padding-left: 0;
}

.about-section1 ul li {
  margin-bottom: 8px;
}

/* Responsive */
@media (max-width: 768px) {
  .about-banner {
    flex-direction: column;
  }
}
